<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude">
  <agm-info-window>
  <h3>{{marker.common_place_name}}</h3>
  <ul>
  	<li><strong>Comments:</strong>{{marker.comments}}</li>
  	<li><strong>address_line1:</strong>{{marker.address_line1}}</li>
  	<li><strong>latitude:</strong>{{marker.latitude}}</li>
  	<li><strong>longitude:</strong>{{marker.longitude}}</li>
	<li><strong>response_zone:</strong>{{marker.response_zone}}</li>
	<li><strong>event_opened:</strong>{{marker.event_opened}}</li>
  	<li><strong>event_closed:</strong>{{marker.event_closed}}</li>
  	<li><strong>parcelData</strong>{{marker.parcelData}}</li>
  	<li><strong>Weather Condition:</strong>{{marker.weatherData["current"]["condition"]["text"]}}</li>
  	<li><strong>Temperature(F):</strong>{{marker.weatherData["current"]["temp_f"]}}</li>
  </ul>
	</agm-info-window>
</agm-marker>

</agm-map>
